
/**********************
  GENERAL
**********************/

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: rgba(0, 0, 0, 0.870588);
}

.middled {
	max-width: 780px;
	margin: 0 auto;
	padding: 0 20px;
}

li, ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.comment {
	color: rgba(96, 139, 78, 1);
}

svg {
  fill: currentColor;
}

* {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}

/**********************
  HEADER
**********************/

header {
	background-color: #00bcd4;
}

header * {
    color: #ffffff;
}

header h1 {
	font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 0 32px;
    padding-top: 0;
    letter-spacing: 0;
    font-size: 24px;
    overflow: hidden;
    height: 64px;
    line-height: 64px;
}

header .middled{
	padding-left: 0;
	padding-right: 0;
}

header ul.actions {
	position: absolute;
    top: 0;
    right: 36px;
}

header ul.actions .icon {
	height: 64px;
	width: 36px;
}

header .tab-container {
	min-height: 72px
}

/**********************
  SEARCH BOX
**********************/

form input[type=search] {
	border-radius: 25px;
	-webkit-appearance: none;
	height: 50px;
	padding: 5px 25px;
	margin: 25px 0;
	width: 100%;
	font-size: 24px;
	outline: none;
	border: 1px solid #DDDDDD;
}

form input[type=submit]{
	display:none;
}

form.hero {
	/*width: 780px;
	height: 200px;
	position: absolute;
	top: 1%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;*/
}

/**********************
  GLOW
**********************/

/*.glow {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}*/

.glow:hover, .glow:focus {
  box-shadow: 0 0 5px #00bcd4;
  border: 1px solid rgba(0, 188, 212, .541176);
}

/**********************
  DIFF
**********************/

.diff {
	display: flex;
}

.diff>.lhs, .diff>.rhs {
	width: 50%;
}

.diff>.lhs .removed, .diff>.lhs span.changed {
	background-color: #f8cbcb;
}

.diff>.rhs .added, .diff>.rhs span.changed {
	background-color: #a6f3a6;
}


/**********************
  HIERARCHY
**********************/

ul.hierarchy {
	margin-left: 10px;
	padding-left: 20px;
	border-left: 1px solid #00bcd4;
}

ul.hierarchy.top {
	margin-left: 0;
	padding-left: 0;
	border-left: none;
}

ul.hierarchy li {
	margin: 5px 0;
}

/**********************
  CARDS
**********************/

ul.cards>li, .card {
	margin: 20px 0;
	padding: 20px;
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

/*ul.cards>li:hover, .card:hover { /* cool but annoying hover animation * /
	-moz-box-shadow: 0 1px 18px rgba(0, 0, 0, 0.12), 0 1px 12px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 1px 18px rgba(0, 0, 0, 0.12), 0 1px 12px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 18px rgba(0, 0, 0, 0.12), 0 1px 12px rgba(0, 0, 0, 0.12);
}*/

ul.cards>li>h1, .card>h1 { /* heading */
	color: rgba(0, 0, 0, 0.870588);
    display: block;
    font-size: 15px;
    font-weight: 500;
	margin: 0;
}

ul.cards>li>h2, .card>h2 { /* subheading */
    color: rgba(0, 0, 0, 0.541176);
    display: block;
    font-size: 14px;
	font-weight: 500;
	margin: 0;
}

ul.cards>li>.content, .card>.content {  /* content */
	margin-top: 2em;
    font-size: 14px;
}

/**********************
  CHIPS
**********************/

ul.chips>li, .chip {
	margin: 5px 10px 5px 0;
	display: inline-block;
	border-radius: 16px;
	background-color: rgb(224, 224, 224);
}

ul.chips>li>*, .chip>* {
	white-space: nowrap;
	display: flex;
	line-height: 32px;
	padding: 0 12px;

	color: rgba(0, 0, 0, 0.870588);
	font-size: 14px;
	font-weight: 400;
}

ul.chips>li> a, .chip> a {
	text-decoration: none;
}

/**********************
  TABS
**********************/

ul.tabs {
	display: table;
    table-layout: fixed;
    width:100%;
}

ul.tabs>li {
	display: table-cell;
	vertical-align: middle;
	border-bottom: 2px solid transparent;
	height: 72px;
	padding-top: auto;
	padding-bottom: auto;
}

ul.tabs * {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}

ul.tabs>li>* {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul.tabs * {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.7);
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}

ul.tabs .icon {
	height: 24px;
	padding: 5px 0;
}

ul.tabs a {
	text-decoration: none;
}

ul.tabs li.active{
	border-bottom: 2px solid rgb(255, 64, 129);
}

ul.tabs li.active *{
	color: rgba(255, 255, 255, 1);
}

/**********************
  FOOTER
**********************/

footer {
	text-align: center;
	color: white;
	font-size: 75%;
	line-height: 136px;
	background-color: #00bcd4;
}

/**********************
  STICKY FOOTER
**********************/

html, body, #app, #app>* {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -136px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 136px; 
}